<script>
    // 1
    // 12
    // 123
    // 1234
    // 12345
    // 123456
    // 1234567
    // 12345678
    // 123456789
    // 12345678
    // 1234567
    // 123456
    // 12345
    // 1234
    // 123
    // 12
    // 1
    for (i = 1; i <= 9; i++) {
        for (j = 1; j <= i; j++) {
            document.write(j)
        } document.write("</br>")
    }
    for (a = 8; a >= 1; a--) {
        for (b = 1; b <= a; b++) {
            document.write(b)
        } document.write("</br>")
    }
</script>