<script>
// *
// **
// ***
// ****
// *****
// ****
// ***
// **
// *
for(i=1;i<=5;i++){
    for(j=1;j<=i;j++){
        document.write("*")
    }document.write("</br>")
}
for(a=4;a>=1;a--){
    for(b=a;b>=1;b--){
        document.write("*")
    }document.write("</br>")
}
</script>