<script>
    // 1
    // 2
    // ...
    // 10
    // 9
    // ...
    // 1
    for (i = 1; i <= 10; i++) {
        document.write(i + "</br>")
    }
    for (j = 9; j >= 1; j--) {
        document.write(j + "</br>")
    }
</script>