<script>
    // Bài 1:
    // Nhập vào số lượng phần tử và giá trị từng phần tử của mảng. In ra màn hình tổng,
    // tích và giá trị trung bình của mảng đó
    let a = [1, 2, 3, 4, 5]
    let tong = 0
    let tich = 1
    for (i = 0; i < a.length; i++) {
        document.write(a[i] + " ")
        tong += a[i]
        tich *= a[i]
    }
    document.write("</br>tích của phần tử trong mảng là " + tich + "</br>")
    document.write("giá trị trung bình của mảng là " + (tong / a.length))
</script>