<script>
    // Bài 2:
    // Viết chương trình mảng gồm n phần tử, số nào là số nguyên tố thì tính tổng (Viết hàm)
    let n = parseInt(prompt("nhập số lượng phần tử"))
    let a = []
    for (i = 0; i < n; i++) {
        a[i] = parseInt(prompt("nhập phần tử thứ " + (i + 1) + " (chỉ nhập số lớn hơn 0):"))
        document.write(a[i] + " ")
    }
    document.write("</br>")
    document.write("các số nguyên tố là: ")
    function kt(a) {
        let dem = 0
        let tong = 0
        for (i = 0; i < a.length; i++) {//0 1 2
            dem = 0
            if (a[i] < 2) {
                dem = 1
            }
            else if (a[i] == 2) {
                dem = 0
            }
            else {
                for (j = 2; j < a[i]; j++) {
                    if (a[i] % j == 0) {
                        dem = 1
                    }
                }
            }
            if (dem == 0) {
                document.write(a[i] + " ")
                tong += a[i]
            }
        }
        if (tong != 0) {
            return "tổng các số nguyên tố là " + tong
        }
        else {
            return "không có số nguyên tố nào"
        }
    }
    let gh = kt(a)
    document.write("</br>" + gh)
</script>